* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.loader-box{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.content-loading {
  display: inline-block;
  width: 120px;
  height: 120px;
}
.content-loading:after {
  content: " ";
  display: block;
  width: 23px;
  height: 23px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #f7971e;
  border-color: #f7971e transparent #f7971e transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}