:root {
  --alutraPrimary: #f7971e;
  --alturaSecondary: #24243557;
  --alturaBg: #13131d;
  --alturaTextColorOne: #fff;
  --alturaTextColorTwo: #acacac;
  --logoColor: #f7971e;
  --borderColor: #ffffff14;
  --modalBg: #212e48;
}
